/node_modules
/public/hot
/public/mix
/public/storage
/public/vendor/telescope
/public/vendor/prequel/
/resources/lang/vendor/prequel/
/storage/*.key
/vendor
.env
.env.backup
.env.cypress
.env.testing
/cypress/videos
/cypress/screenshots
.phpunit.result.cache
docker-compose.override.yml
.idea/
.idea/workspace.xml
.php-cs-fixer.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/composer.lock
