html:not(.dark) {
    background-color: white !important;
}

.login .guest-layout-intro-title {
    font-size: 39px;
    color: #59BABE;
    line-height: 47.7px;
    max-width: 522px;
    font-weight: 700;
    font-family: Roboto;
}

.login .guest-layout-intro-text {
    font-size: 19px;
    color: #FFFFFF;
    line-height: 26px;
    max-width: 522px;
    font-weight: 400;
    font-family: Roboto;
    margin-top: 26px;
    display: block;
}

.guest-layout-logo-box {
    position: absolute;
    top: 90px;
}

input[type=checkbox]:checked {
    background-color: #59BABE !important;
    border-color: #59BABE !important;
}

.side-nav.darkMode .main-logo {
    display: none;
}

.side-nav .main-logo-dark {
    display: none;
}

.side-nav .main-logo-dark svg.xl\:block {
    width: 143px;
    height: 31px;
}

.side-nav.darkMode .main-logo-dark {
    display: block;
}

/* CHECKBOX TOGGLE SWITCH */
/* @apply rules for documentation, these do not work as inline style */
.toggle-checkbox:checked {
    @apply: right-0 border-green-400;
    right: 0;
}
.toggle-checkbox:checked + .toggle-box {
    @apply: bg-green-400;
}

.input-symbol-currency, .input-symbol-rate {
    position: relative;
    display: inline-block;
    width: 100%;
}

.input-symbol-currency input, .input-symbol-rate input {
    padding-right: 25px;
    width: 100%;
}

.input-symbol-currency:after, .input-symbol-rate:after {
    position: absolute;
    transform: translateY(-50%);
    margin: auto;
    right: 10px;
    top: 55%;
}

.input-symbol-currency:after {
    content: "$";
}

.input-symbol-rate:after {
    content: "%";
}

select.form-control
{
    -webkit-appearance: auto !important;
    -moz-appearance: auto !important;
     appearance: auto !important;
}


@media only screen and (min-width: 1279px) {
body.login {
    padding: 0 !important;
}

.bg-layout {
    position: relative;
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
}

@media only screen and (max-width: 1279px) {
.login .bg-layout:before {
    display: none;
}

.login {
    background: linear-gradient(to bottom, #2d3748, #3b4658);
}
}
