html {
    background: linear-gradient(to bottom, #2d3748, #3b4658);
}

@-webkit-keyframes intro-x-animation {
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes intro-x-animation {
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.position-relative {
    position: relative;
}

.login .guest-layout-intro-title {
    font-size: 39px;
    color: #59BABE;
    line-height: 47.7px;
    max-width: 522px;
    font-weight: 700;
    font-family: Roboto;
}

.login .guest-layout-intro-text {
    font-size: 19px;
    color: #FFFFFF;
    line-height: 26px;
    max-width: 522px;
    font-weight: 400;
    font-family: Roboto;
    margin-top: 26px;
    display: block;
}

.guest-layout-logo-box {
    position: absolute;
    top: 90px;
}

input[type=checkbox]:checked {
    background-color: #59BABE !important;
    border-color: #59BABE !important;
}

.toggle-password {
    position: absolute;
    right: 16px;
    top: 14px;
    z-index: 999999;
    opacity: 0.5;
}

@media only screen and (min-width: 1279px) {
    body {
        padding: 0 !important;
    }

    .bg-layout {
        position: relative;
        background-color: white;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
}

@media only screen and (max-width: 1279px) {
    .login .bg-layout:before {
        display: none;
    }

    .login {
        background: linear-gradient(to bottom, #2d3748, #3b4658);
    }
}
